body{
	height: 100%;
	padding-top: 20%;
	font: 300 18px/1.2 'Gotham SSm A','Gotham SSm B',sans-serif;
    background: #ffd454;
}
#wrap{
	width: 340px;
	height: 125px;
	margin: auto;
}
div{
	display: block;
}
input{
	display: block;
    width: 335px;
    font-size: 34px;
    line-height: 44px;
    background: 0 0;
    border: none;
    border-bottom: 1px dotted rgba(0,0,0,.4);
    padding: 5px 0;
    border-radius: 0;
}
#hex{
	border-bottom: 15px;
	border-bottom: 1px dotted rgba(0,0,0,.4);
}